.skills-section {
  padding: 20px;
  background-color: #f9f9f9;
}

.skills-container {
  max-width: 1200px;
  margin: 0 auto;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.skill-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  width: 200px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.skill-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skill-item img {
  max-width: 130px;
  height: auto;
  margin-bottom: 8px;
}

.skill-item h5 {
  margin-bottom: 16px;
}

.certificate-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
}

.skill-item:hover .certificate-link {
  opacity: 1;
}
